html,
body,
header,
#intro {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

#intro {
    background: url('img/FondoInicio.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icolor{
	color: #f48f42;
}
.top-nav-collapse {
  background-color: #24355C;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

iframe{
  width: 100%;
  height: 500px;
}